<a href="https://colab.research.google.com/github/lakesidetech/Altitude-and-Mortality-csv-file-lmdata/blob/main/Altitude_and_Mortality_csv_file_lmdate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [9]:
#1: Load the data and print the column names
 
df = pd.read_csv('/content/lmdata.csv')
df.describe()
#print (df)

        latitude   mortality
count  24.000000   24.000000
mean   41.458333  255.250000
std     4.476792   23.882411
min    33.000000  219.000000
25%    38.375000  236.250000
50%    41.750000  253.500000
75%    45.125000  271.250000
max    48.500000  300.000000

In [8]:
#2: Generate descriptive statistics for the data
import numpy as np
from scipy.stats import scoreatpercentile

data = np.loadtxt("/content/lmdata.csv", delimiter=',', usecols=(1,), skiprows=1, unpack=True)

print ("Max method", data.max())
print ("Max function", np.max(data))

print ("Min method", data.min())
print ("Min function", np.min(data))

print ("Mean method", data.mean())
print ("Mean function", np.mean(data))

Max method 300.0
Max function 300.0
Min method 219.0
Min function 219.0
Mean method 255.25
Mean function 255.25